---
layout: default
description: Xin chào, đây là blog cá nhân của Vinh
---

<div class="home">

  <h1 class="page-heading">Bài viết</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
          {% for category in site.data.categories %}
            {% if category.slug == post.categories[0] %}
              <a href="/categories/{{ category.slug | pretend: site.baseurl }}">[ {{ category.name }} ]</a>
            {% endif %}
          {% endfor %}
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
