<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">


      <div class="footer-col footer-col-3">
        <img class="blog-avatar-big" src="{{ "/assets/images/vinh-ava-300.png" | prepend: site.baseurl }}"/>
        <p>{{ site.description }}</p>
      </div>

      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>Liên hệ</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        
        </ul>

        <ul class="social-media-list">
          <li>Social</li>
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}

          {% if site.facebook_username %}
          <li>
            {% include icon-facebook.html username=site.facebook_username %}
          </li>
          {% endif %}

          {% if site.instagram_username %}
          <li>
            {% include icon-instagram.html username=site.instagram_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">

        <ul class="category-list">
        Categories
        {% for category in site.data.categories %}
          <li><a href="/categories/{{ category.slug }}">{{ category.name }}</a>
        {% endfor %}
        </ul>

        Tags
        <ul class="tag-list">
        
        {% for tag in site.data.tags %}
          <li><a href="/tags/{{ tag.slug }}">{{ tag.name }}</a></li>
        {% endfor %}
        </ul>
      </div>
    </div>
    <p style="font-size: 16px; color: #828282; float: left;">made with <img src="/fav-icon.png" width="16" /> in HCM</p>

    <a style="float: right;" href="http://www.dmca.com/Protection/Status.aspx?ID=43c0c1c9-cba4-43ea-938d-266c4747b4a8" title="DMCA.com Protection Status" class="dmca-badge"> <img src="//images.dmca.com/Badges/dmca-badge-w100-5x1-06.png?ID=43c0c1c9-cba4-43ea-938d-266c4747b4a8" alt="DMCA.com Protection Status"></a> <script src="//images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
  </div>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-40267435-3"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-40267435-3');
	</script>

</footer>
